

table{ border-collapse:collapse ;background-color: rgb(118, 240, 151);width: 100%;height: 200px; border: 8px solid rgb(80, 94, 59); }
mark{ background-color: blue;}
h1{text-align: center;
    ;color: rgb(2, 48, 89); font-weight: 900; font-family:'Trebuchet MS';background-color: rgb(230, 234, 238);}
.haha{border: 8px solid; border-color: chartreuse;}
iframe{border-width: 8px;border-color: chartreuse;}
video{border: 8px solid;border-color: chartreuse;}

thead,td,tbody,tfoot{border: 2px solid; border-color: rgb(3, 3, 3); text-align: center;}

ol[ type="I"]{color: azure;background-color: rgb(65, 37, 37);text-align: center;}

nav a { text-align: center; color: antiquewhite;padding: 5px;float: left ;text-align: none;}

nav{background-color: rgb(0, 0, 0) ; overflow:hidden }
footer{ background-color: rgb(29, 2, 2); text-decoration-color: antiquewhite;color: antiquewhite;text-align: center;}
body{background-image: url(back.jpg);}
a:hover{background-color: rgb(241, 248, 248);text-decoration: none;color: black;}
.peshab:hover{background-color: rgb(172, 26, 26); color: azure;}
th{background-color: blueviolet;}
p+a{font-size: 50px; text-align: center;}
#dj{background-color: black;color: azure;}
.asli{display: flex;}
.nakli{border: solid 3px chocolate; transition: width 2s,height 2s;}
.asli div{align-items: center;padding-inline: 10px;padding-left: 20px;}
.nakli:hover{width: 310px; height:250px;}

.outer{display: flex; height: 550px;width: 100%;flex-wrap: wrap;background-image:url(BGIMG.PNG);border-radius: 40px;}
.image img{width: 290px ;height: 150px;border-top-left-radius: 10px;border-top-right-radius: 10px; }
    .box{ width:290px;height: 400px;background-color: rgb(241, 245, 248);border-radius: 10px;box-shadow: 3px 3px 3px 3px;margin-inline: 20px; margin-top:60px ;}
    .des{text-align: center;}
button{width: 120px;height: 40px;margin-top: 10px;margin-bottom: 10px;margin-left: 30%;box-shadow: 8cm;}
button:hover{background-color: aquamarine;}
.box:hover{background-color: grey;}
.main{width: 69%;}
.aside{width: 29%;}
.layout{width: 100%;}

.founder{background-image: url(new.png);height: 450px;width: 990px;border-top-right-radius: 60px; border-bottom-left-radius: 60px;float: inline-start;overflow-wrap: normal ;display: flex;flex-wrap: wrap;margin: 10px 10px;}
.myself{width: 470px;height: 420px;margin-top: 30px;padding: 10px 10px;}
.profile{width: 450px;height: 440px;}
.primg{border-radius:50px ;width: 350px;height: 350px ;margin-top: 40px;margin-left: 50px;}

